In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False
rc('font', family='Apple SD Gothic Neo', size=10, weight='bold')

In [17]:
shirmp = pd.read_csv('data/result/shrimp_result.csv', encoding='cp949')

df = pd.read_csv('process_codes/conversion_data/흰다리새우_데이터전처리2(2021.09.08).csv')

df['REG_DATE'] = pd.to_datetime(df['REG_DATE'], format="%Y-%m-%d")

date_price_mean  = df.groupby('REG_DATE').mean()

# print(date_price_mean)

df = df.drop('Unnamed: 0', axis=1)
# # shirmp

## 국가별 평균 및 카운트

In [42]:
nation_mean = df.groupby(['REG_DATE', 'CTRY_2'])['P_PRICE'].mean()


n_mean = nation_mean.unstack()
n_mean
# n_mean.to_csv('흰다리새우_국가별_평균.csv')

CTRY_2,말레이시아,베트남,사우디아라비아,에콰도르,인도,인도네시아,중국,콜롬비아,태국,페루
REG_DATE,,,,,,,,,,
2015-12-28,6.17,10.176000,6.02,8.28,NaN,NaN,6.97,NaN,16.026667,6.10
2016-01-04,7.19,8.347500,5.70,8.50,NaN,NaN,NaN,NaN,15.475000,NaN
2016-01-11,6.03,10.324000,NaN,8.09,NaN,NaN,7.08,NaN,16.230000,NaN
2016-01-18,6.10,10.014000,NaN,8.15,NaN,NaN,6.94,NaN,11.486667,NaN
2016-01-25,6.22,9.882000,6.50,8.05,10.06,8.26,6.86,NaN,12.577500,NaN
...,...,...,...,...,...,...,...,...,...,...
2020-11-30,6.80,10.063333,NaN,5.72,NaN,NaN,NaN,NaN,12.650000,5.99
2020-12-07,7.33,10.376667,NaN,6.00,NaN,NaN,NaN,NaN,11.370000,6.20
2020-12-14,6.06,10.153333,NaN,6.05,7.25,NaN,NaN,NaN,13.676667,6.17
2020-12-21,8.62,9.136667,NaN,6.04,12.50,NaN,NaN,NaN,12.850000,5.77
2020-12-28,5.91,11.395000,NaN,5.95,NaN,8.59,NaN,NaN,15.480000,6.14

In [55]:
nation_count = df.groupby(['REG_DATE', 'CTRY_2'])['P_PRICE'].count()

n_count = nation_count.unstack()

for i in n_count.columns:
    n_count.rename(columns= {i: i+'C'}, inplace=True)


print(n_count)
# n_count.to_csv('흰다리새우_국가별_카운트.csv')

CTRY_2      말레이시아C  베트남C  사우디아라비아C  에콰도르C  인도C  인도네시아C  중국C  콜롬비아C  태국C  페루C
REG_DATE
2015-12-28     1.0   5.0       1.0    1.0  NaN     NaN  1.0    NaN  3.0  1.0
2016-01-04     1.0   4.0       1.0    1.0  NaN     NaN  NaN    NaN  2.0  NaN
2016-01-11     1.0   5.0       NaN    1.0  NaN     NaN  1.0    NaN  3.0  NaN
2016-01-18     1.0   5.0       NaN    1.0  NaN     NaN  1.0    NaN  3.0  NaN
2016-01-25     1.0   5.0       1.0    1.0  1.0     1.0  1.0    NaN  4.0  NaN
...            ...   ...       ...    ...  ...     ...  ...    ...  ...  ...
2020-11-30     1.0   3.0       NaN    1.0  NaN     NaN  NaN    NaN  1.0  1.0
2020-12-07     1.0   3.0       NaN    1.0  NaN     NaN  NaN    NaN  4.0  1.0
2020-12-14     1.0   3.0       NaN    1.0  1.0     NaN  NaN    NaN  3.0  1.0
2020-12-21     1.0   3.0       NaN    1.0  1.0     NaN  NaN    NaN  3.0  1.0
2020-12-28     1.0   4.0       NaN    1.0  NaN     1.0  NaN    NaN  3.0  1.0

[261 rows x 10 columns]

## 수입형태별 평균, 카운트

In [108]:
type_mean = df.groupby(['REG_DATE', 'P_IMPORT_TYPE'])['P_PRICE'].mean()

t_mean = type_mean.unstack()

t_mean

# t_mean.to_csv('흰다리새우_수입형태별_평균.csv')

In [52]:
type_count = df.groupby(['REG_DATE', 'P_IMPORT_TYPE'])['P_PRICE'].count()

t_count = type_count.unstack()

# t_count.rename(columns = {'냉동': '냉동C', '냉동,살': '냉동,살C', '냉동,살,자숙': '냉동,살,자숙C', '냉동,살,자숙,포장횟감':

for i in t_count.columns:
    t_count.rename(columns= {i: i+'C'}, inplace=True)

t_count
# t_count.to_csv('흰다리새우_수입형태별_카운트.csv')

## 주별 국가 타입별 평균 및 카운트

In [104]:
nation_type_mean = df.groupby(['REG_DATE', 'CTRY_2', 'P_IMPORT_TYPE'])['P_PRICE'].mean()

n_t_mean = nation_type_mean.unstack()

n_t_mean_1 = n_t_mean.unstack()

column_list = n_t_mean_1.columns

column_list_1 = []
for i in column_list:
    x = i[0] + '_' + i[1] + 'C'
    column_list_1.append(x)

column_list_1

n_t_mean_1.columns = column_list_1

print(n_t_mean_1)

# n_t_mean_1.to_csv('흰다리새우_국가수입형태별_평균.csv')

            냉동_말레이시아C  냉동_베트남C  냉동_사우디아라비아C  냉동_에콰도르C  냉동_인도C  냉동_인도네시아C  \
REG_DATE
2015-12-28       6.17     6.48         6.02      8.28     NaN        NaN
2016-01-04       7.19     7.45         5.70      8.50     NaN        NaN
2016-01-11       6.03     7.16          NaN      8.09     NaN        NaN
2016-01-18       6.10     6.58          NaN      8.15     NaN        NaN
2016-01-25       6.22     7.08         6.50      8.05     NaN        NaN
...               ...      ...          ...       ...     ...        ...
2020-11-30       6.80      NaN          NaN      5.72     NaN        NaN
2020-12-07       7.33      NaN          NaN      6.00     NaN        NaN
2020-12-14       6.06      NaN          NaN      6.05     NaN        NaN
2020-12-21       8.62      NaN          NaN      6.04     NaN        NaN
2020-12-28       5.91      NaN          NaN      5.95     NaN        NaN

            냉동_중국C  냉동_콜롬비아C  냉동_태국C  냉동_페루C  ...  냉동,자숙_말레이시아C  냉동,자숙_베트남C  \
REG_DATE                                      ...
2015-12-28     NaN       NaN     NaN    6.10  ...           NaN         NaN
2016-01-04     NaN       NaN     NaN     NaN  ...           NaN         NaN
2016-01-11     NaN       NaN     NaN     NaN  ...           NaN         NaN
2016-01-18     NaN       NaN     NaN     NaN  ...           NaN         NaN
2016-01-25     NaN       NaN     NaN     NaN  ...           NaN         NaN
...            ...       ...     ...     ...  ...           ...         ...
2020-11-30     NaN       NaN     NaN    5.99  ...           NaN         NaN
2020-12-07     NaN       NaN     NaN    6.20  ...           NaN         NaN
2020-12-14     NaN       NaN     NaN    6.17  ...           NaN         NaN
2020-12-21     NaN       NaN     NaN    5.77  ...           NaN         NaN
2020-12-28     NaN       NaN     NaN    6.14  ...           NaN         NaN

            냉동,자숙_사우디아라비아C  냉동,자숙_에콰도르C  냉동,자숙_인도C  냉동,자숙_인도네시아C  냉동,자숙_중국C  \
REG_DATE
2015-12-28             NaN          NaN        NaN           NaN        NaN
2016-01-04             NaN          NaN        NaN           NaN        NaN
2016-01-11             NaN          NaN        NaN           NaN        NaN
2016-01-18             NaN          NaN        NaN           NaN        NaN
2016-01-25             NaN          NaN        NaN           NaN        NaN
...                    ...          ...        ...           ...        ...
2020-11-30             NaN          NaN        NaN           NaN        NaN
2020-12-07             NaN          NaN        NaN           NaN        NaN
2020-12-14             NaN          NaN        NaN           NaN        NaN
2020-12-21             NaN          NaN        NaN           NaN        NaN
2020-12-28             NaN          NaN        NaN           NaN        NaN

            냉동,자숙_콜롬비아C  냉동,자숙_태국C  냉동,자숙_페루C
REG_DATE
2015-12-28          NaN        NaN        NaN
2016-01-04          NaN        NaN        NaN
2016-01-11          NaN        NaN        NaN
2016-01-18          NaN       7.97        NaN
2016-01-25          NaN       7.64        NaN
...                 ...        ...        ...
2020-11-30          NaN        NaN        NaN
2020-12-07          NaN       8.07        NaN
2020-12-14          NaN        NaN        NaN
2020-12-21          NaN      10.15        NaN
2020-12-28          NaN        NaN        NaN

[261 rows x 60 columns]

In [105]:
nation_type_count = df.groupby(['REG_DATE', 'CTRY_2', 'P_IMPORT_TYPE'])['P_PRICE'].count()

n_t_count = nation_type_count.unstack()

n_t_count_1 = n_t_count.unstack()

column_list = n_t_count_1.columns

column_list_1 = []
for i in column_list:
    x = i[0] + '_' + i[1] + 'C'
    column_list_1.append(x)

column_list_1

n_t_count_1.columns = column_list_1

print(n_t_count_1)

# n_t_count_1.to_csv('흰다리새우_국가수입형태별_카운트.csv')

            냉동_말레이시아C  냉동_베트남C  냉동_사우디아라비아C  냉동_에콰도르C  냉동_인도C  냉동_인도네시아C  \
REG_DATE
2015-12-28        1.0      1.0          1.0       1.0     NaN        NaN
2016-01-04        1.0      1.0          1.0       1.0     NaN        NaN
2016-01-11        1.0      1.0          NaN       1.0     NaN        NaN
2016-01-18        1.0      1.0          NaN       1.0     NaN        NaN
2016-01-25        1.0      1.0          1.0       1.0     NaN        NaN
...               ...      ...          ...       ...     ...        ...
2020-11-30        1.0      NaN          NaN       1.0     NaN        NaN
2020-12-07        1.0      NaN          NaN       1.0     NaN        NaN
2020-12-14        1.0      NaN          NaN       1.0     NaN        NaN
2020-12-21        1.0      NaN          NaN       1.0     NaN        NaN
2020-12-28        1.0      NaN          NaN       1.0     NaN        NaN

            냉동_중국C  냉동_콜롬비아C  냉동_태국C  냉동_페루C  ...  냉동,자숙_말레이시아C  냉동,자숙_베트남C  \
REG_DATE                                      ...
2015-12-28     NaN       NaN     NaN     1.0  ...           NaN         NaN
2016-01-04     NaN       NaN     NaN     NaN  ...           NaN         NaN
2016-01-11     NaN       NaN     NaN     NaN  ...           NaN         NaN
2016-01-18     NaN       NaN     NaN     NaN  ...           NaN         NaN
2016-01-25     NaN       NaN     NaN     NaN  ...           NaN         NaN
...            ...       ...     ...     ...  ...           ...         ...
2020-11-30     NaN       NaN     NaN     1.0  ...           NaN         NaN
2020-12-07     NaN       NaN     NaN     1.0  ...           NaN         NaN
2020-12-14     NaN       NaN     NaN     1.0  ...           NaN         NaN
2020-12-21     NaN       NaN     NaN     1.0  ...           NaN         NaN
2020-12-28     NaN       NaN     NaN     1.0  ...           NaN         NaN

            냉동,자숙_사우디아라비아C  냉동,자숙_에콰도르C  냉동,자숙_인도C  냉동,자숙_인도네시아C  냉동,자숙_중국C  \
REG_DATE
2015-12-28             NaN          NaN        NaN           NaN        NaN
2016-01-04             NaN          NaN        NaN           NaN        NaN
2016-01-11             NaN          NaN        NaN           NaN        NaN
2016-01-18             NaN          NaN        NaN           NaN        NaN
2016-01-25             NaN          NaN        NaN           NaN        NaN
...                    ...          ...        ...           ...        ...
2020-11-30             NaN          NaN        NaN           NaN        NaN
2020-12-07             NaN          NaN        NaN           NaN        NaN
2020-12-14             NaN          NaN        NaN           NaN        NaN
2020-12-21             NaN          NaN        NaN           NaN        NaN
2020-12-28             NaN          NaN        NaN           NaN        NaN

            냉동,자숙_콜롬비아C  냉동,자숙_태국C  냉동,자숙_페루C
REG_DATE
2015-12-28          NaN        NaN        NaN
2016-01-04          NaN        NaN        NaN
2016-01-11          NaN        NaN        NaN
2016-01-18          NaN        1.0        NaN
2016-01-25          NaN        1.0        NaN
...                 ...        ...        ...
2020-11-30          NaN        NaN        NaN
2020-12-07          NaN        1.0        NaN
2020-12-14          NaN        NaN        NaN
2020-12-21          NaN        1.0        NaN
2020-12-28          NaN        NaN        NaN

[261 rows x 60 columns]